.custom-textarea
	padding-top 10px
	padding-left 5px
	overflow hidden
	width 100%
	line-height 60px
	resize none
	background -webkit-repeating-linear-gradient(transparent, transparent 57px, theme-color 57px, theme-color 60px)
	background -o-repeating-linear-gradient(transparent, transparent 57px, theme-color 57px, theme-color 60px)
	background -moz-repeating-linear-gradient(transparent, transparent 57px, theme-color 57px, theme-color 60px)
	background repeating-linear-gradient(transparent, transparent 57px, theme-color 57px, theme-color 60px)
	background-color transparent
	border none

	&:focus
		outline none
