.date__value
	padding-left 5px
	width 204px
	line-height 40px
	background-color transparent
	border solid transparent
	border-width 0 0 3px
	border-image url('../../border.png') 200
	-o-border-image url('../../border.png') 200
	-webkit-border-image url('../../border.png') 200
	-moz-border-image url('../../border.png') 200

	&:focus
		outline none
