.range__thumb
	position absolute
	top 7px
	left 55%
	width 15px
	height 13px
	user-select none

	// for proper displaying in firefox and ie
	&:before
		position absolute
		overflow hidden
		width 15px
		height 13px
		content url('../../thumb.svg')
