.range__inner
	position relative
	width 100%
	height 50px
	cursor pointer
	// unable to use multiline property declaration with indented syntax
	background linear-gradient(270deg, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 2px 100%, linear-gradient(270deg, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 149px 25px, linear-gradient(270deg, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 374px 25px, linear-gradient(270deg, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 100% 100%, url('../../border.png') no-repeat 0 23px
	background -webkit-linear-gradient(right, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 2px 100%, -webkit-linear-gradient(right, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 149px 25px, -webkit-linear-gradient(right, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 374px 25px, -webkit-linear-gradient(right, theme-color, theme-color 2px, transparent 3px, transparent 40px) no-repeat 100% 100%, url('../../border.png') no-repeat 0 23px
	background-size 3px 25px, 3px 12px, 3px 12px, 3px 26px, 100%
