include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
			include ../content-inner/content-inner
				include ../header/header
				include ../info/info
				include ../section-header/section-header
				include ../section-paragraph/section-paragraph
				include ../custom-checkbox/custom-checkbox
				include ../range/range
				include ../custom-textarea/custom-textarea
				include ../custom-radio/custom-radio
				form.info
					+info("Полное ФИО", "name", "Митрофанова Алена Владимировна", true)
					+info("Год рождения", "birth", "1990", true)
					+info("Место жительства", "city", "г. Тюмень, Россия", true)
					+info("Скайп", "skype", "lucubratiuncula", false)
					+info("Почта", "email", "funnymitrofunny@gmail.com", true)
				+section-header("Расскажите о себе чекбоксами")
				+section-paragraph("Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.")
				form.checkbox-group
					.checkbox-group__col
						+custom-checkbox("checkbox1", {text: "БЭМ/OOCSS"}, true)
						+custom-checkbox("checkbox2", {text: "Pug (Jade)"}, true)
						+custom-checkbox("checkbox3", {text: "Stylus/LESS/SASS"}, true)
						+custom-checkbox("checkbox4", {text: "Работаю с SVG"}, true)
						+custom-checkbox("checkbox5", {text: "Верстаю семантично"}, true)
						+custom-checkbox("checkbox6", {text: "Accessibility (A11Y)"}, false)
						+custom-checkbox("checkbox7", {text: "ES2015/ES2016"}, false)
					.checkbox-group__col
						+custom-checkbox("checkbox8", {text: "Gulp/GRUNT"}, true)
						+custom-checkbox("checkbox9", {text: "Webpack"}, false)
						+custom-checkbox("checkbox10", {text: "Дружу с WebGL"}, false)
						+custom-checkbox("checkbox11", {text: "jQuery"}, true)
						+custom-checkbox("checkbox12", {text: "Знаю/изучаю Angular"}, true)
						+custom-checkbox("checkbox13", {text: "Знаю/изучаю React"}, true)
						+custom-checkbox("checkbox14", {text: "Знаю/изучаю Node.js"}, true)
					.checkbox-group__col
						+custom-checkbox("checkbox15", {text: "Использую Git"}, true)
						+custom-checkbox("checkbox16", {text: "С глазомером всё ок"}, true)
						+custom-checkbox("checkbox17", {pre_link_text: "Читаю", link: "http://blog.csssr.ru", link_text: "blog.csssr.ru"}, true)
						+custom-checkbox("checkbox18", {text: "Я ленивый(-ая)"}, true)
						+custom-checkbox("checkbox19", {text: "У меня хороший английский"}, true)
						//- +custom-checkbox("checkbox19", "У меня хороший<br>&emsp;&nbsp;&thinsp;английский", true)
				+section-header("Уровень владения JavaScript")
				+range("Не владею, Использую готовые решения, Использую готовые решения <br/>и умею их переделывать, Пишу сложный JS с нуля")
				+section-header("Расскажите о себе словами")
				+section-paragraph("Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.")
				+custom-textarea("Я начинающий верстальщик, я самокритична, хочу делать всё правильно, быстро учусь и думаю, что быстрее добьюсь профессионализма, став частью сильной творческой команды, как CSSSR. Я знаю, что значит работать удаленно, и готова к этому.")
				+section-header("Какие у вас планы на будущее?")
				+section-paragraph("Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.")
				form.radiogroup
					+custom-radio("radio1", "HTML coding", false, "Верстать")
					+custom-radio("radio2", "JS", true, "Прокачиваться в JS")
					+custom-radio("radio3", "Management", false, "Менеджерство")
					+custom-radio("radio4", "Other", false, "Другое")
				include ../date/date
		+scripts(['app.min.js'])
