@font-face
	font-family 'Courier New'
	font-weight 400
	font-style normal
	src local('Courier New')
	src url('../../fonts/CourierNewPSMT.eot')
	src url('../../fonts/CourierNewPSMT.eot?#iefix') format('embedded-opentype'), url('../../fonts/CourierNewPSMT.woff2'), format('woff2'), url('../../fonts/CourierNewPSMT.woff'), format('woff'), url('../../fonts/CourierNewPSMT.ttf') format('truetype'), url('../../fonts/CourierNewPSMT.svg#CourierNewPSMT') format('svg')

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic')
