mixin custom-checkbox(id, object, ifChecked)
	.custom-checkbox
		input.custom-checkbox__checkbox(type="checkbox" id=id name="cb" value="1" checked=ifChecked)
		label.custom-checkbox__label(for=id)
			span.custom-checkbox__pseudo-checkbox
			if object.link
				| #{object.pre_link_text} 
				a(href=object.link) #{object.link_text}
			else
				| #{object.text}
