.range__label
	position absolute
	cursor default

	&:first-child
		top 57px
		left 0

	&:nth-child(2)
		top 55px
		left 145px

	&:nth-child(3)
		top 52px
		left 372px
		line-height 1.5

	&:last-child
		top 62px
		right 0
