.info__entire-width-input
	padding-left 15px
	padding-bottom 2px
	width 100%
	line-height 40px
	background-color transparent
	border solid transparent
	border-width 0 0 3px
	border-image url('../../border.png') 4
	-moz-border-image url('../../border.png') 4
	// -o-border-image url('../../border.png') 4
	-webkit-border-image url('../../border.png') 4

	&:focus
		outline none
