.custom-radio__pseudo-radio
	position relative
	margin-right 5px
	margin-bottom 3px
	display inline-block
	width 28px
	height 28px
	vertical-align middle
	background url('../../radio.png') no-repeat 0 0

	&:before
		position absolute
		top 50%
		left 50%
		content url('../../radio_select.png')
		opacity 0
		transform translate(-50%, -50%)
		// -moz-transform translate(-50%, -50%)
		-webkit-transform translate(-50%, -50%)
		// -ms-transform translate(-50%, -50%)
