header.header
	img(class="header__brand" src='brand.png', alt="CSSSR")
	img(class="header__title" src='title.png', alt="CASE")
	.stamp.header__stamp 
		.stamp__top-string секретно
		.stamp__bottom-string  заполнено собственноручно
	
	block header
