mixin info(key_text, name, value, ifRequired)
	.info__line
		.info__key #{key_text}
		.info__value
			input(type="text" class="type-font info__entire-width-input" name=name value=value required=ifRequired)
					
//- form.info
//- 	.info__line
//- 		.info__key Полное ФИО
//- 		.info__value
//- 			input(type="text" class="type-font info__entire-width-input" name="name" value=name required)
//- 	.info__line
//- 		.info__key Год рождения
//- 		.info__value
//- 			input(type="text" class="type-font info__entire-width-input" name="birth" value=birth required)
//- 	.info__line
//- 		.info__key Место жительства
//- 		.info__value
//- 			input(type="text" class="type-font info__entire-width-input" name="city" value=city)
//- 	.info__line
//- 		.info__key Скайп
//- 		.info__value
//- 			input(type="text" class="type-font info__entire-width-input" name="skype" value=skype)
//- 	.info__line
//- 		.info__key Почта
//- 		.info__value
//- 			input(type="text" class="type-font info__entire-width-input" name="email" value=email required)
