.content-inner
	position relative
	margin-top 0
	margin-right auto
	margin-bottom 0
	margin-left auto
	padding-top 0
	padding-right 113px
	padding-left 113px
	padding-bottom 0
	width 1000px
	font-family 'PT Sans'
	color theme-color
	background url('../../bg.png') repeat 0 0
