.stamp
	display block
	font-family 'PT Sans'
	font-weight 700
	text-transform uppercase
	color #233e8b
	border 3px solid #233e8b
	opacity .7
	transform rotate(-3deg)
	-webkit-transform rotate(-3deg)
	-ms-transform rotate(-3deg)
