.custom-checkbox__pseudo-checkbox
	position relative
	margin-right 10px
	display inline-block
	width 19px
	height 19px
	vertical-align middle
	cursor pointer
	border 4px solid transparent
	border-image url('../../chkbox.png') 4
	// -o-border-image url('../../checkbox.png') 4
	// -webkit-border-image url('../../checkbox.png') 4
	-moz-border-image url('../../chkbox.png') 4

	&:before
		position absolute
		bottom 1px
		overflow hidden
		width 20px
		height 25px
		content url('../../chk.svg')
		opacity 0
