mixin custom-radio(id, value, ifChecked, text)
	.custom-radio
		input(type="radio" name="plans" class="custom-radio__radio" id=id value=value checked=ifChecked)
		label.custom-radio__label(for=id)
			.custom-radio__pseudo-radio
			| #{text}
